<div class="general-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'divers.jpg'%>)"></div>
<div class="trapezoid">
  <div class="banner-container">
    <h2 class="general-banner-header">STANDORTE DER INSTRUKTOREN</h2>
    <div class="banner-flex">
      <div class="text">
        <p class="general-banner-text">Unsere Instruktoren sind deutrschlandweit vertreten und bilden seit vielen Jahren in verschiedenen Bereichen des Sport- und des technischen Tauchens aus und freuen sich, ihre Erfahrungen weitergeben zu können.</p>
        <p class="general-banner-text">Es gibt immer ein offenes Ohr. Nicht nur für Fragen, sondern auch für Anregungen und Neuerungen.</p>
      </div>
      <div class="map">
        <%= image_tag "map.png" %>
      </div>
    </div>
  </div>
</div>
<div class="general-container">
  <div class="header">
    <h1>Unsere Instruktoren</h1>
  </div>

  <div class="avatars">
    <% @instructors.each do |instructor| %>
      <% if instructor.avatar.attached? %>
        <div class="avatar-container">
          <div class="instructor-avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= rails_blob_url(instructor.avatar) %>')">
            <%= render 'shared/instructor-edit', instructor: instructor %>
          </div>
          <%= render 'shared/instructor-avatar', instructor: instructor %>
        </div>
      <% else %>
        <div class="avatar-container">
          <div class="instructor-avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'default-avatar.jpeg'%>)">
            <%= render 'shared/instructor-edit', instructor: instructor %>
          </div>
          <%= render 'shared/instructor-avatar', instructor: instructor %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render "shared/arrow-up" %>
</div>
