  <div id="lp-top">
    <div class="lp-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'Home.jpg'%>)">

      <div class="d-flex justify-content-center">
        <div class="general-container">
          <div class="lp-banner-text">
            <h1>European Technical Dive Organization</h1>
            <p>Bereits seit der Gründung im Jahr 2004, steht die ETDO interessierten Sporttauchern und Sporttaucherinnen als qualifizierter Ansprechpartner für Informationen rund um das technische Tauchen zur Verfügung.</p>
            <p>Informationen zu Kursinhalten, Tauchevents und Ausbildern sind nur einen Mausklick entfernt. Viel Spaß beim Eintauchen!</p>
            <div class="button">
              <%= link_to "Kurse", courses_path, class: "btn-red" %>
            </div>
          </div>
        </div>
      </div>

      <a href="#about-us">
        <div id="arrow-down">
          <%= image_tag "arrow-circle-down-solid.svg", alt: "alttext" %>
        </div>
      </a>

    </div>
  </div>

  <div id="about-us">
    <div class="general-container">
      <div class="header">
        <h1>Über die ETDO</h1>
      </div>

      <div class="paragraph">
        <p>Im Tauchsport gibt es inzwischen eine große Anzahl an ambitionierten Sporttaucher und Sporttaucherinnen, die sich für das technische Tauchen interessieren. Unsere Instruktoren bilden seit vielen Jahren in <strong>verschiedenen Bereichen des Sport- und des technischen Tauchens </strong>aus und freuen sich, ihre Erfahrungen weitergeben zu können.</p>
      </div>

      <div class="header">
        <h1>Vorteile der ETDO</h1>
      </div>

      <!-- Benefit 1 -->
      <div class="card-product">
        <%= image_tag "richtige Einstieg.jpg" %>
        <div class="card-product-infos">
          <h2>Der richtige Einstieg</h2>
          <p>Da im Tauchsport häufig der richtige Einstieg fehlt, ist die ETDO die ideale Anlaufstelle für technische Taucher/innen, die ihr Können & Wissen austesten und weiterentwickeln wollen.</p>
        </div>
      </div>

      <!-- Benefit 2 -->
      <div class="card-product">
        <%= image_tag "Fortbildung.jpg" %>
        <div class="card-product-infos">
          <h2>Regelmäßige Fortbildung</h2>
          <p>Anspruch der Instruktoren ist es, stets informiert zu bleiben und sich regelmäßig weiterzubilden. So kann Ihnen jederzeit eine erstklassige und zeitgemäße Ausbildung angeboten werden.</p>
        </div>
      </div>

      <!-- Benefit 3 -->
      <div class="card-product">
        <%= image_tag "sicheres Tauchen.jpg" %>
        <div class="card-product-infos">
          <h2>Sicheres Tauchen</h2>
          <p>Um stets sicher tauchen zu können, stehen medizinische und sonstige relevante Grundlagen im Fokus der Ausbildung - inkl. verschiedener Notszenarien und Problemlösungen.</p>
        </div>
      </div>

      <%= render "shared/arrow-up" %>
    </div>
  </div>
