  <div id="lp-top">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'change-oxygen.jpg'%>)">

      <div class="d-flex justify-content-center">
        <div class="general-container">
          <div class="banner-text">
            <h1>European Technical Dive Organization</h1>
            <p>Bereits seit der Gründung im Jahr 2004, steht die ETDO interessierten Sporttauchern und Sporttaucherinnen als qualifizierter Ansprechpartner für Informationen rund um das technische Tauchen zur Verfügung.</p>
            <p>Informationen zu Kursinhalten, Tauchevents und Ausbildern sind nur einen Mausklick entfernt. Viel Spaß beim Eintauchen!</p>
            <div class="button">
              <%= link_to "Kurse", courses_path, class: "btn-red" %>
            </div>
          </div>
        </div>
      </div>

      <a href="#favourite-courses">
        <div id="arrow-down">
          <%= image_tag "arrow-circle-down-solid.svg", alt: "alttext" %>
        </div>
      </a>

    </div>
  </div>

  <div id="favourite-courses">

      <div class="general-container">
        <div class="cards">

            <% @courses.each do |course| %>
              <% if course.favourite == true %>
                <% if course.thumbnail.attached? %>
                  <%= link_to course_path(course) do %>
                    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= rails_blob_url(course.thumbnail) %>')">
                      <%= course.name %>
                      <div class="detail-box">
                        <div class="details-text">
                          <p>DETAILS</p>
                        </div>
                        <div class="detail-arrow-right">
                          <i class="fas fa-chevron-right"></i>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to course_path(course) do %>
                    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'default.jpeg'%>)">
                      <%= course.name %>
                      <div class="detail-box">
                        <div class="details-text">
                          <p>DETAILS</p>
                        </div>
                        <div class="detail-arrow-right">
                          <i class="fas fa-chevron-right"></i>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

        </div>
        <div class="text-center" style="margin: 40px">
          <a href="#lp-top" style="color: black"> Back to top</a>
        </div>
      </div>

  </div>
