<%= simple_form_for(@course) do |f| %>
  <%= f.input :name %>

  <%= f.input :thumbnail, as: :file, label: "Thumbnail", class: "form-label" %>

  <%= f.label :description, "Beschreibung", class: "form-label" %>
  <%= f.rich_text_area :description %>

  <%= f.label :theory, "Inhalte der Theorie", class: "form-label" %>
  <%= f.rich_text_area :theory %>

  <%= f.label :practice, "Inhalte der Praxis", class: "form-label" %>
  <%= f.rich_text_area :practice %>

  <%= f.label :requirements, "Voraussetzungen", class: "form-label" %>
  <%= f.rich_text_area :requirements %>

  <%= f.label :length, "Kursdauer", class: "form-label" %>
  <%= f.rich_text_area :length %>

  <div class="button">
    <%= f.button :submit, "Update", class: "btn-red" %>
  </div>

<% end %>
