<div class="primary-container">
  <!-- <div class="row">
    <div class="col"> -->
      <<!-- h5> Hello <%= current_user.first_name %>, create your article below </h5>
      <br>
      <hr></hr> -->
      <%= simple_form_for @course do |f| %>
        <%= f.input :name %>
        <%= f.rich_text_area :description %>
        <%= f.button :submit, "Publish your article", class: "btn-red" %>
      <% end %>
      <!-- <br><br> -->
    <!-- </div>
  </div> -->
 </div>
