<h1>This is course SHOW</h1>

<%= link_to "Kursübersicht", courses_path %>

<p><%= @course.name %></p>
<p><%= @course.description %></p>
<p><%= @course.theory %></p>
<p><%= @course.practice %></p>
<p><%= @course.requirements %></p>
<p><%= @course.length %></p>
